body {
    font-family: Arial, sans-serif;
    background-color: #f0f8f0;
    margin: 20px;
    padding: 20px;
    border: 1px solid #c3e6c3;
    border-radius: 8px;
}

form {
    display: flex;
    flex-direction: column;
}

fieldset {
    border: 1px solid #b2dfb2;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
}

legend {
    font-weight: bold;
    font-size: 1.2em;
}

.personalInfo {
    display: flex;
    flex-direction: column;
}

.personalInfo label {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-between;
    margin-bottom: 10px;
}

.btn:hover {
    background-color: #5F8575;
}

.btn {
    padding: 10px;
    background-color: #89de89;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    width: 150px;
    align-self: flex-start;
}

label {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

input[type="text"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 60%;
    margin-top: 10px;
}

.errorMessage {
    color: red;
    font-size: 0.9em;
    margin-top: 5px;
}

.successMessage {
    color: green;
    font-size: 0.9em;
    font-weight: bold;
    margin-top: 15px;
}